.form {
  .input-label {
    font-size: 25px;
    font-weight: bold;
    color: $color-gray;
  }

  input {
    margin: 20px auto;
  }
}

.register-header {
  font-size: 5vw;
  margin-bottom: 10vh;
}

.register__section {
  padding-bottom: 10vh;
}
